<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>WARNING: This is currently unsafe and may expose your host to hacking!</h1>
  <table>
    <tbody>
      {% for filename in entries['paths'] %}
      <tr>
        <td>[<a href='{{ url_for('root.videos', path=filename) }}'>{{filename}}</a>]</td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />
  <table>
    <tbody>
      {% for filename in entries['videos'] %}
      <tr>
        <td><a href='{{ url_for('root.player', fname=filename) }}'>Play {{filename}}</a></td>
        <td><a href='{{ url_for('root.file', fname=filename) }}'>Get {{filename}}</a></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />
  <table>
    <tbody>
      {% for filename in entries['images'] %}
      <tr>
        <td><a href='{{ url_for('root.file', fname=filename) }}'>{{filename}}</a></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>