<html>
  <head>
    <title>Motion Detect</title>
    <style>
      BODY {
        background-color: #000;
        color: #fff;
        font-family: arial, helvetica, sans-serif;
      }
      IMG {
        border: 1px solid white;
        max-width: 80%;
      }
      #log {
        max-height: 20em;
        overflow: auto;
        border: 1px solid green;
        padding: 0.5em;
      }
    </style>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  </head>
  <body>
    <img id="bg" src="{{ url_for('root.video_feed') }}">
    <br />
    <form action="/shutdown" method="POST">
      <input type="submit" value="Shutdown Server"/>
    </form>
    <div id="log">
    </div>
    <script>
       // Enable pusher logging - don't include this in production
      Pusher.logToConsole = true;

      var addLog = function (message) {
        var logContainer = document.querySelector('#log');
        var p = document.createElement('p');
        var now = new Date();
        var logContent = document.createTextNode(
          now.toISOString() + ' | ' + message);
        p.appendChild(logContent);
        logContainer.appendChild(p);
      };

      var pusher = new Pusher('49a7902e0bfdacbba646', {
        cluster: 'eu',
        encrypted: true
      });

      var channel = pusher.subscribe('motion-events');
      var audio = new Audio('{{url_for('static', filename='thrown.mp3')}}');
      channel.bind('motion-detected', function(data) {
        addLog(data.message);
        audio.play();
      });
    </script>
  </body>
</html>
